<%= form_tag '/addresses' do %>
  <%= hidden_field_tag 'address[address_id]',id %>
  <%= hidden_field_tag 'address[lot_or_unit]',address.lot_or_unit %>
  <%= hidden_field_tag 'address[house_name_or_number]',address.house_name_or_number %>
  <%= hidden_field_tag 'address[street_name]',address.street_name %>
  <%= hidden_field_tag 'address[zipcode]',address.zipcode %>
  <%= hidden_field_tag 'address[summary]',address.summary %>
  <%= id %>
  <%= submit_tag("Save") %>
<% end %>
