<%= form_tag "/addresses", method: :get do %>
  <%= label_tag :street_number %>
  <%= text_field_tag "address[street_number]", "", style: 'width: 400px' %> <br>
  <%= label_tag :street_name %>
  <%= text_field_tag "address[street_name]", "", style: 'width: 400px' %> <br>
  <%= label_tag :street_type %>
  <%= select_tag "address[street_type]", options_for_select(street_type),{include_blank: true, style: 'width: 400px'} %> <br>
  <%= label_tag :state %>
  <%= text_field_tag "address[state]", "", style: 'width: 400px' %> <br>
  <%= label_tag :postcode %>
  <%= text_field_tag "address[postcode]", "", style: 'width: 400px' %> <br>
  <%= submit_tag('Search') %>
<% end %>
