<%= render 'search_form' %>
<hr>
<h1>Search results</h1>
<% @search_addresses.each do |id,address| %>
  <% formated_address = AddressFormater.new(address) %>
  <%= formated_address.summary %>
  <%= render 'form',address: formated_address,id: id %>
  <br> <br>
<% end %>
<hr>
<h1>Database</h1>
<% @addresses.each do |address| %>
  <%= address.summary %>
  <%= link_to 'Open',address %>
  <br>
<% end %>

