<%= link_to "Back", :addresses %>
<div>
  <%= @address.id %>
  <%= @address.zipcode %>
  <%= @address.house_name_or_number %>
  <%= @address.street_name %>
  <%= @address.lot_or_unit %>
  <%= @address.summary %>
</div>

<div>
  <%= @search_address.to_yaml %>
</div>
